@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tenor+Sans');

body {
  font-family: 'Tenor Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #313933;
}

a:hover {
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.menu-home {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 12fr 2fr 2fr;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.menu {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 7fr 3fr 3fr 3fr;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #707070;
}

.logo {
  font-size: 30px;
  font-weight: 900;
}

.primary.button {
  background: #76c043;
  border-radius: 100px;
	display: inline-block;
  outline: none;
	*zoom: 1;
  text-align: center;
  text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
  border: 1px solid;
  color: #fff;
  padding: 0.5625em 1.5em;
}

.primary.button:hover {
  background:#6aac3c;
}

.danger.button {
  background: #ee3b2a;
  border-radius: 100px;
	display: inline-block;
  outline: none;
	*zoom: 1;
  text-align: center;
  text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
  border: 1px solid;
  color: #fff;
  padding: 0.5625em 1.5em;
}

.danger.button:hover {
  background: #d63525;
}

.hero {
  font-family: 'Tenor Sans', sans-serif;
  height: 300px;
  display: grid;
  grid-template-rows: 200px 100px;
  align-items: center;
  font-size: 24px;
}

.text {
  width: 100%;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #707070;
}

.links {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.register-link {
  background: #76F49D;
  color: #FFF;
  padding:0.5625em 1.5em;
  border-radius: 100px;
  margin-left: 50px;
}

.register-link:hover {
  background: #3EDB6E;
  color: #FFF;  
}

.login-link {
  background: #46F57C;
  color: #FFF;
  padding:0.5625em 1.5em;
  border-radius: 100px;
}

.login-link:hover {
  background: #3EDB6E;
  color: #FFF;  
}

.subtext {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
}

.question-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.opt {
  height: 200px;
  color: #E8F1E8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.option-one {
  background: #f47521;
}

.option-one:hover {
  background: #db691d;
}

.option-two {
  background: #eb148d;
}

.option-two:hover {
  background: #b51e6d;
}

.option-text {
  width: 400px;
  font-size: 18px;
}

.centered {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.registration-box {
  border: 1px solid #707070;
  border-radius: 20px;
  box-shadow: 2px 2px #777;
  height: 400px;
  width: 400px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.button {
  background: #E8F1E8;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #707070;
}

.login {
  border: solid 1px #0071ce;
  border-radius: 100px;
  color: #0071ce;
  background-color: transparent;
  padding: 0.5625em 1.5em;
  text-transform: uppercase;
}

.login:hover {
  background-color: #0071ce;
  color: #fff;
}

.register-button {
  border-top-left-radius: 20px;
  border-right: 1px solid #707070;
}

.login-button {
  border-top-right-radius: 20px;
}

.active {
  background: #0071ce;
  color: #fff;
}

.sections {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.input-field {
  margin-top: 20px;
}

label {
  color: #7F7F7F;
}

.input-field > input[type=text] {
  margin-top: 5px;
  outline: none;
  width: 90%;
  padding: 15px;
  font-family: 'Tenor Sans', sans-serif;
  border-radius: 10px;
  border: 1px solid #707070;
}

.user-questions {
  background: #78b9e7;
  border-radius: 100px;
	display: inline-block;
  outline: none;
	*zoom: 1;
  text-align: center;
  text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
  border: 1px solid;
  color: #fff;
  padding: 0.5625em 1.5em;
}

.user-questions:hover {
  background: #0071ce;
  color: #fff;
}

.submit-button {
  margin-top: 50px;
  background: #76c043;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 100px;
  font-family: 'Open Sans', sans-serif;
}

.submit-button:hover {
  background-color: #6aac3c;
}

.hidden {
  display: none;
}

.meta {
  font-size: 20px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 11fr 5fr;
  align-items: center;
}

.hello-user {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.leaderboard-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 42px;
}
.leaderboard {
  text-align: center;
  border: 1px solid #0071ce;
  color: #0071ce;
  border-radius: 20px;
  padding: 1em;
  font-size: 16px;
}
.leaderboard:hover {
  background-color: #0071ce;
  color: #fff;
}

.questions {
  margin-top: 25px;
}

.pickup-line {
  font-size: 20px;
  display: grid;
  color: #707070;
  grid-template-columns: 12fr 2fr 2fr;
}



.set {
  margin-top: 25px;
}

.question {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1.5fr 13fr 1.5fr;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  text-transform: uppercase;
}

.q {
  cursor: default;
  background: #E8F1E8;
  color: #707070;
}

.more {
  background: #76c043;
  color: #fff;
  font-size: 30px;
}

.more:hover {
  background: #6aac3c;
  color: #fff;
}

.user-details {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr 1fr;
}

.user-details > img {
  grid-row: 1/3;
}

.by {
  color: #313933;
}

.time {
  color: #707070;
  font-size: 15px;  
}

.selected, .selected:hover {
  background-image: url('../assets/selected.png');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

.progress {
  margin-top: 25px;
  width: 100%;
  background: #000;
  height: 25px;
  display: inline-flex;
  color: #E8F1E8;
  font-size: 20px;
}

.progress-one {
  height: 100%;
  background: #808CFA;
  text-align: center;
}

.progress-two {
  height: 100%;
  background: #FA8080;
  text-align: center;
}

.total {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.input {
  border: none;
  font-family: 'Tenor Sans', sans-serif;
}

.input::placeholder {
  color: #fff;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-button {
  font-family: 'Tenor Sans', sans-serif;
  padding: 1em;
  background: #95FFB2;
  color: #fff;
  margin-top: 50px;
  border: none;
  border-radius: 100px;
  width: 300px;
}

.form-title {
  font-size: 24px;
}

.centered-leaderboard {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.leaderboard-icon {
  width: 70px;
}

table {
  margin-top: 25px;
  width: 100%;
}

tr {
  margin-bottom: 10px;
}

td {
  text-align: center;
}

td > img {
  width: 50px;
}

.answered {
  color: #000;
  cursor: pointer;
  border: solid 1px #000;
  border-radius: 100px 0 0 100px;
  text-align: center;
}

.unanswered {
  color: #000;
  cursor: pointer;
  border: solid 1px #000;
  border-radius: 0 100px 100px 0;
  text-align: center;
}

.active-link {
  color: #fff;
  background-color: #0071ce;
}
